@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #101119;
  color: #6d83ff;
}

.shady {
  background-color: rgba(50, 50, 50, 0.4);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.25);
  }
  100% {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  }
}
